<div class = "container">
	<div class= "jumbotron">
		<div class="row">
  			<div class="col-md-6 col-md-offset-3">
  				<h1 class = "text-center">Join in</h1>
   				<%= render "form"%>
	  		</div>
		</div>
	</div>
</div>