
<%flash.each do |msg_type, msg|%>
	<p><%=msg%>, <%= @user.name.split(" ").shift%></p>
<%end%>
<h1><%= @user.name %></h1>


<h4><%=@user.name.split(" ").shift%>'s activity</h4>
<h3>Questions asked</h3>

<h3>Answers</h3>
