@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #7AC5CD ;
	height: 100vh;
}

.questions_bottom_margin{
	margin-bottom: 0;

}

.link-to-text-color {
	color: gray;
	}

	
	 td {
    border-bottom: 2px solid #ddd;
    padding-top: 20px;
}

.link{
	display: inline;
	color: red;
	background-color: yellow;
}

.each_answer_on_question_page{
	margin-bottom:40px;
	margin-top:50px
}

.time_ago {
	font-size: 12px;
}

.profile_name{
color: #5F9EA0;
font-weight: bold;
}