@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #7AC5CD ;
	height: 100vh;
}

.questions_bottom_margin{
/*	margin-bottom: 0;
*/	color: #53868B;
	font-weight: bold;

}

.link-to-text-color {
	color: gray;
	}

	
	 td {
    border-bottom: 2px solid #ddd;
    padding-top: 20px;
}

.link{
	display: inline;
	color: red;
	background-color: yellow;
}

.each_answer_on_question_page{
	margin-bottom:40px;
	margin-top:50px
}

.time_ago {
	font-size: 12px;
}

.profile_name{
color: #5F9EA0;
font-weight: bold;
}

.profile_image {
	max-width: 20px;
}

.answer-count {
	border-radius: 50%;
	font-size: 10px;
	color: #5F9EA0;
}

.answer-button {
	background: transparent;
	border: none;
	color: #7AC5CD;
	font-weight: bold;
}

.delete-button {
	background: transparent;
	border: none;
	color: red;
	font-weight: bold;
	display: inline-block;

}

.answer_user_name {
	color: gray;
	font-style: italic;
	font-weight: lighter;
	font-size: 16px;
}

.edit-delete-buttons{
	padding-left: 40px;
	margin-top: -20px;
	margin-bottom: -20px;
}

.submitted{
	margin-bottom: 40px;
	font-size: 10px;
	padding-left: 40px;
}

.voting-buttons {
	display: inline;
}

.vote {
	font-size: 12px;
	padding-right:0;
	float:right;
	font-weight: lighter;
}

.vote-column {
	padding-right:0
}

.edit-glyph, .delete-glyph {
	color: black;
	font-size: 12px
}